<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CRUD DE IONIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list lines="full">
 <ion-item>
    <ion-label position="floating">NOMBRE</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
 </ion-item>
  <ion-item>
    <ion-label position="floating">CORREO</ion-label>
    <ion-input [(ngModel)]="correo" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addStudent()" color="primary" shape="full" expand="block">
          AÑADIR ESTUDIANTE
        </ion-button>
      </ion-col>
    </ion-row>
</ion-list>
</ion-content>
